/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Main CSS
   ========================================================================== */

body {
	font-family: 'Lato', sans-serif;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
}

.wrap {
	max-width: 1170px;
	margin: 0 auto;
}

.header-inner-top {
    background-color: #1B273D;
    height: 45px;
    padding-top: 10px;
}

.contact-info,
.login {
    float: left;
    width: 50%;
}

.contact-info a,
.login a {
    color: #a3a8b2;
    text-decoration: none;
}

.contact-info .fa-envelope {
    color: #ce2b24;
    margin-right: 5px;
    position: relative;
    top: 2px;
}

.login {
	position: relative;
	text-align: right;
}

#login-box {
	display: none;
    width: 240px;
    position: absolute;
    right: -30px;
    top: 35px;
    z-index: 1500;
    background-color: #ce2b24;
    padding: 10px 25px 20px;
    text-align: left;
}

#login-box input[type="text"],
#login-box input[type="password"] {
    border: none;
    padding: 5px;
    margin-bottom: 15px;
}

#login-box input[type="submit"] {
    padding: 5px 15px 7px;
    background-color: #1B273D;
    color: #ffffff;
    font-size: 13px;
    border: none;
    cursor: pointer;
}

#login-box input[type="submit"]:hover {
    opacity: 0.8;
}

#login-box label {
    display: block;
    margin: 0 0 5px;
    cursor: pointer;
    color: #ffffff;
    font-size: 14px;
}

#login-box.show {
	display: block;
}

.header-inner-bottom {
    height: 105px;
    padding: 25px 0;
}

.branding, .navigation {
    float: left;
}

.branding {
    width: 30%;
}

.navigation {
    width: 70%;
    text-align: right;
}

.menu ul {
    padding-left: 0;
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
}

.menu ul > li {
    display: inline-block;
    position: relative;
    margin-left: 30px;
}

.menu ul > li a {
    position: relative;
    display: inline-block;
    color: #333333;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.menu ul li.active > a,
.menu ul li > a:hover {
    color: #ce2b24;
}

.menu ul > li.active > a:after,
.menu ul > li:hover > a:after {
    background-color: #ce2b24;
}

.menu ul > li.active > a:after,
.menu ul > li > a:hover:after {
    width: 100%;
}

.menu ul > li a:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 2px;
    width: 0;
    -webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.slider {
    position: relative;
}

.slider .caption {
    position: absolute;
    top: 37%;
    left: 4%;
    display: block;
    width: 623px;
    height: 121px;
}

.footer {
    height: 105px;
    background-color: #ce2b24;
    color: #ffffff;
}

.footer-inner {
    padding: 30px 0;
}

.footer p {
    margin: 0;
}

.footer span {
    font-size: 13px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
